/* -------   cursos.html  --------- */
.containerCursos .heroCursos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/img/EA-photo/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.containerCursos .listaCursos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}