@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&display=swap");
/* -------   RESET  --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.containerConsultorias .heroConsultorias .botonHero, .containerIndex .hero2 .botonHero, .containerIndex .hero .botonHero {
  letter-spacing: 0.1rem;
  padding: 0.7rem 1rem;
  text-align: center;
  font-weight: 900;
  margin: 0 4rem;
  font-size: 0.8rem;
  color: white;
  background: #0636c3;
  border: 2px solid #0636c3;
}

.containerConsultorias .heroConsultorias .botonHero:hover, .containerIndex .hero2 .botonHero:hover, .containerIndex .hero .botonHero:hover {
  background: #011c5d;
  border: 2px solid #011c5d;
}

.palette {
  display: none;
  position: relative;
}
.palette .color1 {
  width: 200px;
  height: 200px;
  background-color: #011c5d;
}
.palette .color2 {
  width: 200px;
  height: 200px;
  background-color: #00298b;
}
.palette .color3 {
  width: 200px;
  height: 200px;
  background-color: #4eb1ff;
}
.palette .color4 {
  width: 200px;
  height: 200px;
  background-color: #5cfaff;
}
.palette .color5 {
  width: 200px;
  height: 200px;
  background-color: #c2fff6;
}
.palette .color6 {
  width: 200px;
  height: 200px;
  background-color: #e7e7e7;
}
.palette .color7 {
  width: 200px;
  height: 200px;
  background-color: #0636c3;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: grid;
  width: 100%;
  padding: 0rem 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.5));
  grid-area: header;
}
header .headerContainer {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}
header nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  width: 4rem;
}
header nav .menu {
  display: flex;
  flex-flow: row;
}
header nav ul li {
  margin: 1rem;
  position: relative;
  padding: 1rem;
}
header nav ul li a {
  color: #0636c3;
}
header nav ul li div a {
  color: blue;
}
header nav ul li:hover {
  background-color: rgba(6, 54, 195, 0.5);
}
header nav ul li:hover a {
  color: white;
}
header nav ul li:hover .submenu {
  display: flex;
}
header nav ul .submenu {
  display: none;
  flex-direction: column;
  background-color: #0636c3;
  position: absolute;
  top: 3rem;
  left: 2rem;
}
header nav ul .submenu li {
  display: flex;
  margin: 0;
}
header nav ul .submenu li a {
  color: white;
}
header nav ul .submenu li:hover {
  background-color: white;
  color: white;
}
header nav ul .submenu li:hover a {
  color: #0636c3;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  display: grid;
  flex-direction: row;
  align-content: center;
  padding: 3rem 4rem;
  background-color: #e7e7e7;
  grid-area: footer;
}
footer h2 {
  margin-bottom: 1rem;
  color: #0636c3;
}
footer img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.1rem;
}

.containerIndex .hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url(/img/EA-photo/1.jpg);
}
.containerIndex .hero h1 {
  color: #0636c3;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  font-weight: 900;
  font-stretch: condensed;
  font-family: "Montserrat", sans-serif;
  margin: 0 4rem 0 4rem;
  width: 50%;
  align-content: right;
  text-align: right;
}
.containerIndex .hero h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  text-align: right;
  margin: 0rem 4rem 0 0rem;
}
.containerIndex .hero p {
  font-size: 1.2rem;
  width: 30%;
  border-radius: 2%;
  text-align: left;
  margin: 1rem 4rem;
  padding: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
}
.containerIndex .hero a {
  width: 5rem;
}
.containerIndex .hero .botonHero {
  width: 140px;
}
.containerIndex .hero2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url(/img/EA-photo/6.jpg);
}
.containerIndex .hero2 h1 {
  color: #0636c3;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  font-weight: 900;
  font-stretch: condensed;
  font-family: "Montserrat", sans-serif;
  margin: 0 4rem 0 4rem;
  width: 50%;
  text-align: left;
}
.containerIndex .hero2 h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  text-align: left;
}
.containerIndex .hero2 p {
  font-size: 1.2rem;
  width: 30%;
  text-align: left;
  margin: 1rem 4rem;
  padding: 0.7em;
  background-color: white;
}
.containerCursos {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.containerCursos .heroCursos {
  display: flex;
  flex-flow: row nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-image: url(/img/EA-photo/7.jpg);
  background-position-y: 0px;
}
.containerCursos h1 {
  color: #3231b1;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  text-align: left;
  width: 100%;
}
.containerCursos h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  text-align: left;
  width: 100%;
}
.containerCursos p {
  font-size: 1.2rem;
  width: 30%;
  text-align: left;
  margin: 0 0 0 4rem;
  padding: 0.7em;
  border-radius: 2%;
  background-color: rgba(231, 231, 231, 0.6);
}
.containerCursos a {
  width: 5rem;
}
.containerCursos .cursos h2 {
  padding: 8rem;
  text-align: center;
}
.containerCursos .cursos .listaCursos {
  width: 100%;
  display: grid;
  align-items: center;
  margin: 1rem 0rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "curso1 curso2 curso3" "curso4 curso5 curso6";
}
.containerCursos .cursos .listaCursos .imagenCurso {
  width: 100%;
  transition: all 0.15s ease-in-out;
}
.containerCursos .cursos .listaCursos .imagenCurso:hover {
  transform: scale(1.05);
}
.containerCursos .cursos .listaCursos h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  margin: 0rem 4rem;
  align-items: left;
  width: 50%;
}
.containerCursos .cursos .listaCursos .curso1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: curso1;
}
.containerCursos .cursos .listaCursos .curso2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: curso2;
}
.containerCursos .cursos .listaCursos .curso3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: curso3;
}
.containerCursos .cursos .listaCursos .curso4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: curso4;
}
.containerCursos .cursos .listaCursos .curso5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: curso5;
}

.containerConsultorias .heroConsultorias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url(/img/EA-photo/5.jpg);
}
.containerConsultorias .heroConsultorias h1 {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  font-weight: 900;
  font-stretch: condensed;
  font-family: "Montserrat", sans-serif;
  margin: 0 4rem 0 4rem;
  width: 50%;
  margin: 0 4rem 0 4rem;
  text-align: left;
  width: 50%;
}
.containerConsultorias .heroConsultorias h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  width: 50%;
  margin: 0rem 0 0 4rem;
  text-align: left;
}
.containerConsultorias .heroConsultorias p {
  font-size: 1.2rem;
  width: 30%;
  text-align: left;
  padding: 0.7em;
  margin: 1rem 0 1rem 4rem;
  border-radius: 2%;
  background-color: rgba(231, 231, 231, 0.6);
}
.containerConsultorias .heroConsultorias a {
  width: 5rem;
}
.containerConsultorias .heroConsultorias .botonHero {
  width: 130px;
}
.containerQS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 0.2fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas: "heroQS heroQS" "imgVicente bioVicente" "imgKarina bioKarina";
}
.containerQS .heroQS {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: heroQS;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url(/img/EA-photo/13.jpg) center;
}
.containerQS .heroQS h1 {
  color: #0636c3;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  font-weight: 900;
  font-stretch: condensed;
  font-family: "Montserrat", sans-serif;
  margin: 0 4rem 0 4rem;
  width: 50%;
  align-content: center;
  text-align: center;
}
.containerQS .heroQS h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  text-align: center;
  margin: 0rem 4rem 0 0rem;
}
.containerQS .imgVicente {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imgVicente;
  place-self: center;
}
.containerQS .bioVicente {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: bioVicente;
}
.containerQS .bioVicente h3 {
  margin: 2rem;
}
.containerQS .bioVicente p {
  font-size: 1.2rem;
  width: 80%;
  border-radius: 2%;
  text-align: left;
  margin: 0;
  padding: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
}
.containerQS .imgKarina {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: imgKarina;
  place-self: center;
}
.containerQS .bioKarina {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: bioKarina;
}
.containerQS .bioKarina h3 {
  font-size: 2rem;
  color: #0636c3;
  margin: 2rem;
}
.containerQS .bioKarina p {
  font-size: 1.2rem;
  width: 80%;
  border-radius: 2%;
  text-align: left;
  margin: 0;
  padding: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
}
.containerQS h1 {
  color: #0636c3;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  font-weight: 900;
  font-stretch: condensed;
  font-family: "Montserrat", sans-serif;
  margin: 0 4rem 0 4rem;
  width: 50%;
  align-content: right;
  text-align: right;
}
.containerQS h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 0 0 4rem;
  width: 40%;
  text-align: right;
  margin: 0rem 4rem 0 0rem;
}
.containerQS p {
  font-size: 1.2rem;
  width: 30%;
  border-radius: 2%;
  text-align: left;
  margin: 1rem 4rem;
  padding: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
}

.containerContacto {
  display: flex;
  flex-flow: row wrap;
}
.containerContacto .contactHero {
  align-items: center;
  justify-content: left;
  height: 100vh;
  background-image: url(/img/EA-photo/14.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.containerContacto .contactHero h2 {
  color: #011c5d;
  font-size: 3rem;
  letter-spacing: 0.01rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 4rem;
  align-content: left;
  width: 50%;
}
.containerContacto form {
  width: 48%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.bodyGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 0.7fr 0.1fr;
  grid-template-areas: "header" "content" "footer";
}

.padding {
  padding: 0 8rem 0 8rem;
}

/*
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .hero {
        h1 {
            font-size: 1rem;
        };
        h2 {
            font-size: 1rem;
        }
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) { 

}
*/
/*

9 y 10 boostraps.


/-------------------  DUDAS

- No entiendo porque el header no queda centrado, queda con valores de position a su derecha.
- Me gustaría que las imágenes llenen el ancho completo del site.

/------------------ To Do List

9- Boostrap.
    - Agregar grid de boostrap.

10- Agregar carrousel de boostrap y mediaquerys.

13- Aplicar SEO a la pagina.

/-----------------  DONE

7- Aplicando Grids.
    - Aplicar Grid a vista de Cursos.

8- Transformaciones y animaciones.
    - Aplicar scale en lhover de los cursos.


- Index.html
    - Dar formato a botones de los heros.
    - Optimizar el codigo de los heros.
- QuienesSomos.html: Importar fichas de cada uno.
- Nav: Fondo Nav transparente con animacion a blanco a medida que scrolleo.
- Cursos.html: Con grid? 1 grande, y 2 chicos? o cuadricula.
- Footer: Form de escribinos.
- MediaQuerys
14- Crear repositorio Git

 */