
.contacto {
    display: flex;
    flex-flow: row wrap;


    .contactHero {

        align-items: center;
        justify-content: left;
        height: 100vh;
        background-image: url(/img/EA-photo/14.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            color: $dark-blue1;
            font-size: 3rem;
            letter-spacing: .01rem;
            font-family: "Montserrat", sans-serif;
            margin: 0rem 4rem;
            align-content: left;
            width: 50%;
        }
    }
    form {
        width: 48%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        
    }
}
