.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    //background-color: blue;
}

/* -------   Header  --------- */


/* -------   Footer  --------- */


/*
@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .hero {
        h1 {
            font-size: 1rem;
        };
        h2 {
            font-size: 1rem;
        }
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) { 

}

*/