%flex {
    display: flex;
    flex-direction: row wrap;
}

%button1 {
    letter-spacing: .1rem;
    padding: .7rem 1rem;
    border-radius: .5rem;
    text-align: center;
    font-weight: 900;
    margin: 0 4rem;
    font-size: .8rem;
    color: white;
    background: $blue2;
    border: 2px solid $dark-blue1;
}

%button1Hover {
    background: $dark-blue1;
    border: 2px solid $dark-blue1;
}

%flexCursos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}