.containerIndex {
    //grid-area: content;
    .hero {

        @include hero(100vh, flex-end, center);
        background-image: url(/img/EA-photo/1.jpg);
        h1 {
            @include h1($blue2);
            align-content: right;
            text-align: right;
        }
        h2 {
            @include h2($dark-blue1);
            //align-content: right;
            text-align: right;
            margin: 0rem 4rem 0 0rem;
        }
        p {
            @include p();
            width: 30%;
            border-radius: 2%;
            text-align: left;
            margin: 1rem 4rem;
            padding: 1.2em;
            background-color: rgb(255, 255, 255, 0.7);
        }
        a {
            width: 5rem;
        }
        .botonHero {
            @extend %button1;
            width: 140px;
        }
        .botonHero:hover {
            @extend %button1Hover;
        }
    }
    .hero2 {
        
        @include hero(100vh, flex-start, center);
        background-image: url(/img/EA-photo/6.jpg);
        h1 {
            @include h1($blue2);
            text-align: left;
        }
        h2 {
            @include h2($dark-blue1);
            text-align: left;
            
        }
        p {
            font-size: 1.2rem;
            width: 30%;

            text-align: left;
            margin: 1rem 4rem;
            padding: 0.7em;
            background-color: white;
        }
        .botonHero {
            @extend %button1;
        }
        .botonHero:hover {
            @extend %button1Hover;
        }
    }
};