@media only screen and (max-width: 768px) {
    .bodyGrid {
        .icon {
            display: block;
            //filter: invert(100%);
        }
        .close {
            position: absolute;
            left: 2rem;
            top: 2rem;
        }
        header nav ul {
            display: none;
        }
    }
}