.containerQS {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 0.6fr 0.2fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "heroQS heroQS"
      "imgVicente bioVicente"
      "imgKarina bioKarina";
    
    margin: 0rem 4rem 0 4rem;
    padding: 0rem 4rem 0 4rem;

    .heroQS {
        grid-area: heroQS;

        @include hero(100vh, center, center);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(/img/EA-photo/13.jpg);
        background-position: center;
        background-repeat: no-repeat;

        h1 {
            @include h1($blue2);
            align-content: center;
            text-align: center;
        }
        h2 {
            @include h2($dark-blue1);
            //align-content: right;
            text-align: center;
        }
    }
    .imgVicente {
        grid-area: imgVicente;
        place-self: center;
        padding: 4rem;
    }
    .bioVicente {
        grid-area: bioVicente;
        place-self: center;
        h3 {
            font-size: 2rem;
            color: $blue2;
            margin: 2rem;
        }
        p {
            @include p();
            width: 80%;
            text-align: left;
            margin: 0;
            padding: 1.2em;
            background-color: rgb(255, 255, 255, 0.7);
        }
    }
    .imgKarina {
        grid-area: imgKarina;
        place-self: center;
        margin: 2rem;
    }
    .bioKarina {
        grid-area: bioKarina;
        place-self: center;

        h3 {
            font-size: 2rem;
            color: $blue2;
            margin: 2rem;
        }
        p {
            @include p();
            width: 80%;
            border-radius: 2%;
            text-align: left;
            margin: 0;
            padding: 1.2em;
            background-color: rgb(255, 255, 255, 0.7);
        }
    }
    h1 {
        @include h1($blue2);
        align-content: right;
        text-align: right;
    }
    h2 {
        @include h2($dark-blue1);
        //align-content: right;
        text-align: right;
        margin: 0rem 4rem 0 0rem;
    }
    p {
        @include p();
        width: 30%;
        border-radius: 2%;
        text-align: left;
        margin: 1rem 4rem;
        padding: 1.2em;
        background-color: rgb(255, 255, 255, 0.7);
    }
};