$dark-blue1:rgb(1,28,93);
$dark-blue3:rgb(0,41,139);
$blue2: rgb(6,54,195);

$light-blue1:rgb(78,177,255);

$cyan1:rgb(92,250,255);
$light-cyan1:rgb(194,255,246);
$white-smoke1: rgb(231, 231, 231);


$blue1:rgb(50,49,177);
$dark-blue2:rgb(35,8,113);