@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&display=swap");
/* -------   RESET  --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* -------   Header  --------- */
header {
  background-color: #0736c3;
  padding: 0rem 4rem;
  font-size: 1.2rem;
}

.logo {
  width: 4.5rem;
  margin: 0 0.5rem;
}

.menu {
  display: flex;
  flex-flow: row wrap;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  margin: 1rem;
  position: relative;
  padding: 1rem;
}

nav li a {
  color: white;
}

.submenu {
  display: none;
  flex-direction: column;
  background-color: royalblue;
  position: absolute;
  top: 3rem;
  left: 2rem;
}

nav li:hover .submenu {
  display: flex;
}

.submenu li {
  display: flex;
  margin: 0;
}

.submenu li:hover {
  background-color: whitesmoke;
  color: royalblue;
}

.submenu li:hover a {
  color: royalblue;
}

/* -------   General  --------- */
p {
  width: 50%;
  font-size: 1em;
  text-align: center;
  margin: 1em;
  padding: 0.7em;
}

/* -------   Footer  --------- */
footer {
  height: 10rem;
  padding: 4rem;
  background-color: #e7e7e7;
}

footer h2 {
  margin-bottom: 1rem;
  color: royalblue;
}

.rrss img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.1rem;
}

/* -------   Index  --------- */
.hero {
  background: white;
  background-size: cover;
  align-content: center;
  height: 100vh;
}

.hero h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin: 2rem;
}

/* -------   Cursos  --------- */
.productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.producto {
  width: 20em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.imagenCurso {
  width: 15em;
}

.descripcionProducto {
  width: 80%;
  text-align: left;
}

/* -------   Contacto  --------- */
.botonEnviar {
  color: white;
  font-size: 1rem;
  background-color: #4EB1FF;
  border-radius: 5%;
  padding: 0.4rem 0.5rem;
  border-style: none;
}

form {
  display: inline-block;
}

/* 
---- Paleta de la Marca  ----
    #011C5D
    #230871
    #00298B
    #3231B1
    #4EB1FF
*/